.container .box p{
    padding: 20px;
    border: 2px solid;
}

.section .content >p{
    margin: 15px;
    border: 2px solid;
}

.card-header + .card-body p {
    border: 2px solid red;
}

.navbar {
    background-color:lightblue;
}

.header h1 .sub-header p {
    margin-top: 20px;
}
.footer span {
    padding: 10px;
    border: 2px solid;
}
.main-content .content p {
    border: 1px solid black;
}
.nav ul li{
   margin-right: 15px; 
   border: 2px solid;
}
.gallery .photo {
    background-color: lightgrey;
}
.footer span {
    border-radius: 5px;
}